public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*expo-router*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native*
public-hoist-pattern[]=*react-native-safe-area-context*
public-hoist-pattern[]=*react-native-screens*
